@font-face {
	font-family: "GmarketSansMedium";
	src: url("GmarketSansMedium.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}


* {
	font-family: 'GmarketSansMedium', 궁서;
}

body{
	margin-left: 70px;
	margin-right: 70px;
	min-width: 1200px;
}

#comment-list{
	margin-top: 10px;
	width: 550px;
	height : 500px;
	overflow : scroll;
}

#movieInformation{
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
}

#poster{
	margin: 10px;
	width: 300px;
	height: 300px;
	border-radius: 5px;
}

#buttons{
	display: flex;
	flex-direction: row;
}

.tab{
	margin-left: 0;
	padding-left: 0;
	margin-right: 10px;
	border: 0;
	background-color: transparent;
	font-size: 20px;
	font-weight: bold;
}

.tab:hover{
	background-color: purple;
	color: white;
	font-weight: bold;
}

.movie-Cont{
	margin-bottom: 40px;
}

#movie-castcrew{
	display: flex;
	flex-direction: row;
}

#movie-castcrew{
	justify-content: center;
}

#bottom{
	justify-content: space-between;
	display : grid;
	grid-template-columns: 1fr 1fr;
}

.movieC{
	text-align: center;
	margin: 5px 25px;
}

.photo{
	width: 150px;
	height: 225px;
	border-radius: 20px;
}

#trailer{
	width: 550px;
	height: 360px;
}


#overview{
	font-size: 17px;
}

.indent{
	font-size: 20px;
	font-weight: bold;
}

#detail{
	width: 600px;
	/* border: 1px solid orange;
	border-style: dotted; */
	border-radius: 10px;
	font-size: 17px;
	font-weight: bold;
	padding: 7px;
	margin-left: 20px;
}

#title{
	font-size: 25px;
}

#inputBox > input{
	margin-bottom: 10px;
}

#inputBox > label{
	color: red;
}

#dateBox{
	margin-left: 7px;
	font-size: 9px;
}

#commentBox {
	margin : 5px;
}

header {
	height : 50px;
}

#homeBtn {
	display : inline-block;
	height : 50px;
	width : 50px;
}

#homeImg {
	height : 50px;
	width : 50px;
}

.modifyBtn, .deleteBtn {
	margin : 5px;
}