#movieInformation {
    background-color: green;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-color: aqua;
    
}

.movie-Cont {
    width: 600px;
    
}

.movie-castcrew {
    display: grid;
    
    background-color: green;
}

.movieC{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.movieC > img {
    width: 100px;
    height: 100px;
}

